# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Build and test

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
  workflow_dispatch:
    inputs:
      

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv venv
        source .venv/bin/activate
        uv pip install --group pyproject.toml:lint
        uv pip install --group pyproject.toml:test
        uv pip install --group pyproject.toml:build
      shell: bash
    - name: Lint with pylint
      run: |
        # stop the build if there are Python syntax errors or undefined names
        pylint --fail-under=6 src
    - name: Formatting with black
      run: |
        black --check src

    - name: Test with pytest
      run: |
        python -m pytest
    - name: build
      run: |
        python -m build
